<ion-view id="mainHome">
    <ion-content overflow-scroll="true" padding="true" scroll="true">
    	<button class="button button-full button-stable" ui-sref="menu.studymodeMain">
            STUDY MODE
        </button>

        <button class="button button-full button-stable" ui-sref="menu.mockexamMain">
            MOCK EXAM
        </button>

        <button class="button button-full button-stable" ng-click="doLogout()">
            LOG OUT
        </button>
    </ion-content>
</ion-view>

