<ion-view id="login">
    <ion-content overflow-scroll="true" padding="true" scroll="true" ng-controller="IndexCtrl">
        <label class="item item-input item-floating-label">
            <span class="input-label">Email</span>
            <input type="text" placeholder="Email">
        </label>

        <label class="item item-input item-floating-label">
            <span class="input-label">Password</span>
            <input type="text" placeholder="Password">
        </label>

        <button class="button button-full button-positive" ng-click="doLogin()">
            Log In
        </button>

        <button class="button button-full button-positive">
            Facebook
        </button>
    </ion-content>
</ion-view>
