<ion-view id="indexRegister">
    <ion-content overflow-scroll="true" padding="true" scroll="true">
        <label class="item item-input item-stacked-label">
            <span class="input-label">First Name</span>
            <input type="text" placeholder="">
        </label>

        <br>

        <label class="item item-input item-stacked-label">
            <span class="input-label">Last Name</span>
            <input type="text" placeholder="">
        </label>

        <br>

        <label class="item item-input item-stacked-label">
            <span class="input-label">Email</span>
            <input type="email" placeholder="">
        </label>

        <br>

        <label class="item item-input item-stacked-label">
            <span class="input-label">Password</span>
            <input type="password" placeholder="">
        </label>

        <br>

        <label class="item item-input item-stacked-label">
            <span class="input-label">Verify Password</span>
            <input type="password" placeholder="">
        </label>

        <br>

        <label class="item item-input item-stacked-label">
            <span class="input-label">Birthdate</span>
            <input type="date" placeholder="">
        </label>

        <br>

        <button class="button button-full button-positive">
            Register
        </button>

    </ion-content>
</ion-view>
