<ion-view id="index">
    <div class="video-container">
        <video autoplay muted loop class="video-background" preload="auto" poster="../img/forwes/Snapshots/forwes.jpg" webkit-playsinline onerror="alert('Error!')">
            <source src="../img/forwes/WEBM/forwes.webm" type="video/webm" />
        </video>
    </div>

    <ion-tabs class="tabs-positive tabs-icon-top">

        <ion-tab title="Main" icon-on="ion-home" icon-off="ion-home-outline" ui-sref="index.main">
            <ion-nav-view name="indexMain"></ion-nav-view>
        </ion-tab>

        <ion-tab title="Log In" icon-on="ion-log-in" icon-off="ion-log-in-outline" ui-sref="index.login">
            <ion-nav-view name="indexLogin"></ion-nav-view>
        </ion-tab>

        <ion-tab title="Register" icon-on="ion-compose" icon-off="ion-compose-outline" ui-sref="index.register">
            <ion-nav-view name="indexRegister"></ion-nav-view>
        </ion-tab>

    </ion-tabs>
</ion-view>
