<ion-view id="exam_exam">
    <ion-content overflow-scroll="true" padding="true" scroll="true">

        <div class="row no-padding">
            <div class="col col-25">
                <button class="button button-block button-calm" ng-click="goPrev()">
                    <i class="icon ion-chevron-left"></i>
                </button>
            </div>
            <div class="col col-50 timer">
                <p>00:00:00</p>
                <!-- <timer interval="1000">{{hhours}}:{{mminutes}}:{{sseconds}}</timer> -->
            </div>
            <div class="col col-25">
                <button class="button button-block button-calm" ng-click="goNext()">
                    <i class="icon ion-chevron-right"></i>
                </button>
            </div>
        </div>

        <!-- Question cards -->
        <div class="list card">

            <div class="item item-body">
                <h3>Module: </h3>
                <h2>Topic: </h2>
                <hr>
                <h4>Question:</h4>
                <p>
                    {{questions[number].text}}
                </p>
                <button class="button button-outline button-full button-light button-answers" ng-repeat="answer in questions[number].selection" ng-click="selectAnswer(number, answer)">
                    {{answer.choice}}
                </button>
            </div>

        </div>

        <!-- Rationale -->

        <div ng-if="checkType('study')">
            <button class="button button-outline button-full button-light">
                Show Rationale
            </button>

            <div class="list card" >

                <div class="item item-body">
                    <h3>Rationale</h3>
                    <hr>
                    <p>
                        {{questions[0].topics[0].questions[0].rationale}}
                    </p>
                </div>

            </div>
        </div>

    </ion-content>
</ion-view>
