<ion-view id="exam_index">
    <ion-content overflow-scroll="false" padding="true" scroll="false">

    	<div class="row">
            <div class="col center">
                <h1 id="title" class="capitalize">{{title}}</h1>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <button class="button button-full button-outline button-light" ng-click="startExam()">
                    START
                </button>

                <button class="button button-full button-outline button-light" ng-click="openExamOption()">
                    OPTIONS
                </button>
            </div>
        </div>

    </ion-content>
</ion-view>
