<ion-view id="exam.index">
    <ion-content overflow-scroll="false" padding="true" scroll="false">

    	<div class="row">
            <div class="col center">
                <h1 id="title">{{title}}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <button class="button button-full button-stable" ui-sref="menu.exam_mock_exam">
                    START
                </button>

                <button class="button button-full button-stable" ng-click="openOptions()">
                    OPTIONS
                </button>
            </div>
        </div>

    </ion-content>
</ion-view>
