#history {
    background:
        linear-gradient(
            rgba(0, 89, 179, 0.5),
            rgba(0, 89, 179, 0.5)
        ),
        url('/img/bg1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

#history .list .item {
    background-color: white;
    margin-bottom: 10px;
}

#history .list .item span:nth-child(1) {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #6699ff;
    color: white;
}