#home .item {
	padding: 0;
}

#home textarea {
	height: 70px;
	resize: none;
	border: 1px solid;
	border-color: black;
	padding: 5px;
	margin: 0 !important;
}

#home .list.card {
	padding: 10px;
}

#home .list.card * {
	font-family: 'Roboto-Regular';
}

#home .list.card .item-header .col-20 {
	overflow: hidden;
}

#home .list.card .item-header img {
	width: 100%;
	height: auto;
}