/*Use initial id #indexMain*/

#indexMain * {
    color: white !important;
}

#indexMain #logoRow,
#indexMain #logoRow .col {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#indexMain #logo {
    height: 200px;
    width: auto;
}
