#index {
	background: linear-gradient(
          rgba(52, 52, 52, 0.5),
          rgba(52, 52, 52, 0.5)
        ),
	url('../img/bg.gif');
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
}

@media screen and (orientation:portrait) {
	#index {
		background-size: auto 100%;
	}
}

@media screen and (orientation:landscape) {
	#index {
		background-size: 100% auto;
	}
}

#index slick {
	/*background-color: red;*/
	height: 100%;
	padding: 0;
}

#index #main,
#index #login,
#index #register {
	background-color: transparent;
}

#index slick .slick-list,
#index slick .slick-list .slick-track,
#index slick .slick-list .slick-track .slick-slide {
	height: 100%;
}

#index slick .slick-list {
	padding-bottom: 30px;
}

#index slick .slick-dots {
	bottom: 0;
}

#index #main {
	display: flex;
    justify-content: center;
    align-items: center;
}

#index #main .logo {
	width: 200px;
	height: auto;
	border: 3px white solid;
	padding: 10px;
}

#index #main .logo img {
	width: 100%;
	height: auto;
}

#index #main .spacer {
	height: 7vh;
}

#index #main *,
#index #login *,
#index #register * {
	color: white;
}

#index ion-scroll {
	height: 100%;
	width: 100%;
}

#index .slick-dots li button:before {
	font-size: 20px;
	line-height: 20px;
	color: white;
}
