/*Use initial id #index*/

#index {
	background:
        linear-gradient(
          rgba(0, 89, 179, 0.5),
          rgba(0, 89, 179, 0.5)
        ),
        url('../img/indexmainbg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
	/*background-color: white;*/
	padding: 0 !important;
}

#index .pane,
#index .view {
    background-color: transparent !important;
}

#index .video-container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

#index .video-background {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-33%);
}


@media screen and (orientation:portrait) {
    #index .video-background {
        width: auto;
        height: 100%;
        transform: translateX(-33%);
    }
}

@media screen and (orientation:landscape) {
    #index .video-background {
        width: 100%;
        height: auto;
        transform: translateX(0);
    }
}

