#menu ion-side-menu-content {
	color: white;
}

#menu ion-side-menu-content .btnNav {
    background-color: #a2c0d6;
}

#menu ion-side-menu-content .bar-header {
    background-color: #97bdd8 !important;
}

#menu ion-side-menu-content .title {
    font-family: 'Lobster-Regular';
    color: white;
    font-size: 1.3em;
}

#menu ion-nav-bar button.activated {
	background-color: transparent;
	color: black;
}

#menu #leftMenu ion-header-bar {
    height: 200px;
    padding: 10px;
    background-color: #97bdd8;
}

#menu #leftMenu ion-header-bar #avatar {
    height: 100px;
    width: 100px;
    border: 5px solid;
    border-color: white;
    border-radius: 100%;
    background-color: rgb(52, 52, 52);
}

#menu #leftMenu ion-content {
    margin-top: 170px;
}