#profile {
	background-color: #0d6aa3;
}

#profile .avatar_container {
	background:
        linear-gradient(
          rgba(0, 0, 0, 0.3),
          rgba(0, 0, 0, 0.3)
        ),
        url('../img/bg2.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	border-bottom: 5px white solid;
}

#profile .avatar_container h3 {
	color: white;
	font-weight: bolder;
}

#profile .avatar_container #avatar {
	height: 150px;
	width: 150px;
	border-radius: 100%;
}

#profile .avatar_container > div > div:nth-child(1) {
	text-align: right;
	margin-bottom: 10px;
}

#profile .avatar_container > div > div:nth-child(1) > button {
	height: 50px;
	width: 50px;
	padding: 0;
}

#profile .profile_container * {
	color: white;
	font-size: 20px;
	margin-top: 10px;
}

#profile .profile_container .list .item .prof_title {
	background-color: #97bdd8;
	color: #0d6aa3;
	width: 100%;
	padding: 10px;
	margin: 0;
}

#profile .profile_container .list .item .prof_title i {
	color: #0d6aa3;
}

#profile .profile_container .list .item p {
	text-align: right;
}