@media screen and (orientation:portrait) { 
	#register #spacing {
		margin-bottom: 10vh;
	}
}

@media screen and (orientation:landscape) { 
	/*#register > ion-content {
		padding-left: 30vw;
		padding-right: 30vw;
	}

	#register #spacing {
		margin-bottom: 15vh;
	}	*/
}

#register {
	background-color: #a2c0d6;
	color: black;
}

#register h1,
#register .item-input span {
	font-family: 'Lobster-Regular';
}

#register h1 {
	color: white;
}

#register .item-input {
	background-color: rgba(255,255,255,0.7);
	margin-bottom: 10px;
}

#register .item-input input {
	font-family: 'Roboto-Regular';
	background-color: transparent;
}

#register > ion-content {
	margin-bottom: 50px;
}

#register .bar-header {
	position: fixed !important;
	top: 0 !important;
}

#register .button {
	font-family: 'Roboto-Regular';
	font-size: 1.3em;
}