/* Global CSS */
a { text-decoration: none; }

.no-padding { padding: 0 !important; }

.center { text-align: center; }

.mSearch button {
	padding: 5px;
	font-size: 10px;
}/* Empty. Add your own CSS if you like */
