/*General CSS*/

/*html, body, #index {
	font-family: RobotoDraft !important;
}*/

@font-face {
    font-family: 'Lobster-Regular';
    src: url('../fonts/Lobster-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url('../fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.center {
	text-align: center !important;
}

.spinner svg {
	width: 80px;
	height: 80px;
	stroke: #0080ff !important;
	fill: #0080ff !important;
}