/*Use initial id #indexRegister*/

#indexRegister .item-input {
    background-color: rgba(255, 255, 255, 0.7);
    color: black;
    font-weight: bold;
}

#indexRegister .item-input input {
    background-color: transparent;
    color: black;
}
