<ion-modal-view id="exam_option">
	<ion-header-bar>
		<h1 class="title">Exam Option</h1>
		<button class="button button-light button-outline" ng-click="closeExamOption()">
			<i class="icon ion-close"></i>
		</button>
	</ion-header-bar>

	<ion-content>

		<div class="row">
			<div class="col center">

				<h3>MODULE SELECT</h3>
			
				<ul id="moduleList" class="list">
					<li class="item item-toggle" ng-repeat="module in tmpModuleList">
						{{module.name}}
						<label class="toggle toggle-calm">
							<input type="checkbox" ng-model="module.iFlag">
							<div class="track">
								<div class="handle"></div>
							</div>
						</label>
					</li>
				</ul>

			</div>
		</div>

		<button class="button button-full button-outline button-light" ng-click="submitExamOption()">
            SAVE
        </button>

	</ion-content>
</ion-modal-view>