<ion-modal-view id="exam_option">
	<ion-header-bar>
		<h1 class="title">Exam Option</h1>
		<button class="button button-light button-outline" ng-click="closeExamOption()">
			<i class="icon ion-close"></i>
		</button>
	</ion-header-bar>

	<ion-content>

		<div class="row no-padding-margin">
			<div class="col no-padding-margin">
				<li id="shuffle" class="item item-toggle">
					Shuffle
					<label class="toggle toggle-calm">
						<input type="checkbox" ng-model="tmpOptions.shuffle">
						<div class="track">
							<div class="handle"></div>
						</div>
					</label>
				</li>
			</div>
		</div>

		<div class="row">
			<div class="col">
				<ul id="moduleList" class="list">
					<h3>MODULE LIST</h3>

					<li class="item item-toggle" ng-repeat="module in tmpOptions.list">
						{{module.name}}
						<label class="toggle toggle-calm">
							<input type="checkbox" ng-model="module.iFlag">
							<div class="track">
								<div class="handle"></div>
							</div>
						</label>
					</li>
				</ul>
			</div>
		</div>

		<button id="save" class="button button-outline button-light" ng-click="submitExamOption()">
            SAVE
        </button>

	</ion-content>
</ion-modal-view>