<ion-view id="home">
    <ion-content overflow-scroll="true" padding="true" scroll="true">
        <button class="button button-outline button-full button-light" ui-sref="menu.exam_study">
            STUDY MODE
        </button>

        <button class="button button-outline button-full button-light" ui-sref="menu.exam_mock">
            MOCK EXAM
        </button>

        <button class="button button-outline button-full button-light" ng-click="doLogout()">
            LOG OUT
        </button>
    </ion-content>
</ion-view>
