<ion-side-menus enable-menu-with-back-views="true" id="menu">
	<ion-side-menu-content drag-content="false">
		<ion-nav-bar class="bar-header view-header" align-title="center">
			<ion-nav-buttons side="left">
				<button class="button btnNav" menu-toggle="left" ng-click="showLeft()">
					<i class="icon ion-navicon-round" ></i>
				</button>
			</ion-nav-buttons>

			<ion-nav-title>
				<h2 class="title">TOPPER</h2>
			</ion-nav-title>
		</ion-nav-bar>

		<ion-nav-view name="menuContent"></ion-nav-view>
	</ion-side-menu-content>

  	<ion-side-menu side="left" id="leftMenu">
		<ion-header-bar class="bar-stable">
			<div class="row center">
				<div class="col">
					<!-- <img ng-src="{{server + 'uploads/images/' + session.user_id + '/' + session.photo}}" onerror="this.onerror=null; this.src='img/defaultuser.png';" id="avatar" /> -->
					<img ng-src="img/defaultuser.png" onerror="this.onerror=null; this.src='img/defaultuser.png';" id="avatar" />
					<h3>{{session.first_name + ' ' + session.last_name}}</h3>
				</div>
			</div>
		</ion-header-bar>
		<ion-content>
			<ion-list>
				<ion-item menu-close>
					<div class="row" ui-sref="menu.home">
						<div class="col-10 center itemList"><i class="icon ion-home"></i></div>
						<div class="col-80 itemList">&nbsp;&nbsp;Home</div>
					</div>
				</ion-item>
				<ion-item menu-close>
					<div class="row" ui-sref="menu.profile">
						<div class="col-10 center itemList"><i class="icon ion-person"></i></div>
						<div class="col-80 itemList">&nbsp;&nbsp;Profile</div>
					</div>
				</ion-item>
				<ion-item menu-close>
					<div class="row" ui-sref="menu.module">
						<div class="col-10 center itemList"><i class="icon ion-person"></i></div>
						<div class="col-80 itemList">&nbsp;&nbsp;Modules</div>
					</div>
				</ion-item>
				<ion-item menu-close>
					<div class="row" ui-sref="menu.exam_study">
						<div class="col-10 center itemList"><i class="icon ion-clipboard"></i></div>
						<div class="col-80 itemList">&nbsp;&nbsp;Study Mode</div>
					</div>
				</ion-item>
				<ion-item menu-close>
					<div class="row" ui-sref="menu.exam_mock">
						<div class="col-10 center itemList"><i class="icon ion-clipboard"></i></div>
						<div class="col-80 itemList">&nbsp;&nbsp;Mock Exam</div>
					</div>
				</ion-item>
				<ion-item menu-close>
					<div class="row" ui-sref="menu.find">
						<div class="col-10 center itemList"><i class="icon ion-clock"></i></div>
						<div class="col-80 itemList">&nbsp;&nbsp;History</div>
					</div>
				</ion-item>
				<ion-item menu-close>
					<div class="row" ui-sref="menu.find">
						<div class="col-10 center itemList"><i class="icon ion-stats-bars"></i></div>
						<div class="col-80 itemList">&nbsp;&nbsp;Analytics</div>
					</div>
				</ion-item>
				<ion-item menu-close ng-click="doLogout()">
					<div class="row">
						<div class="col-10 center itemList"><i class="icon ion-arrow-return-left"></i></div>
						<div class="col-80 itemList">&nbsp;&nbsp;Logout</div>
					</div>
				</ion-item>
			</ion-list>
		</ion-content>
	</ion-side-menu>
</ion-side-menus>
