<ion-view id="profile">
    <ion-content overflow-scroll="true" padding="false" scroll="true">
			
    

    <div class="row avatar_container">
		<div class="col">
			<div>
				<button class="button button-outline button-light button-small" ng-click="openEditProfile()">
		            <i class="icon ion-edit"></i>
		        </button>
		    </div>
		    <div class="center">
		    	<img ng-src="img/defaultuser.png" onerror="this.onerror=null; this.src='img/defaultuser.png';" id="avatar">
				<h3>{{session.nickname || foo}}</h3>
		    </div>
		</div>
    </div>

    <div class="row profile_container">
		<div class="col">
			<ul class="list">
				<li class="item">
			    	Access: {{session.access_type | sentenceCase}}
			    </li>

			    <li class="item">
			    	Name: {{session.first_name + ' ' + session.last_name}}
			    </li>

			    <li class="item">
			    	Email: {{session.email}}
			    </li>

			    <li class="item">
			    	Gender: {{session.gender}}
			    </li>

			    <li class="item">
			    	Birthday: {{session.birthdate | date}}
			    </li>
			</ul>
		</div>
    </div>

    </ion-content>
</ion-view>
