<ion-view id="profile">
    <ion-content overflow-scroll="true" padding="false" scroll="true">



    <div class="row avatar_container">
		<div class="col">
			<div>
				<button class="button button-outline button-light button-small" ng-click="openEditProfile()">
		            <i class="icon ion-edit"></i>
		        </button>
		    </div>
		    <div class="center">
		    	<img ng-src="img/defaultuser.png" onerror="this.onerror=null; this.src='img/defaultuser.png';" id="avatar">
				<h3>{{session.nickname || foo}}</h3>
				<h4>{{session.access_type | sentenceCase}}</h4>
		    </div>
		</div>
    </div>

    <div class="row profile_container">
		<div class="col">
			<ul class="list">
			    <li class="item">
			    	<div class="prof_title">
			    		<i class="icon ion-person"></i>&nbsp;
			    		NAME
		    		</div>
			    	<p>{{session.first_name + ' ' + session.last_name}}</p>
			    </li>

			    <li class="item">
			    	<div class="prof_title">
			    		<i class="icon ion-email"></i>&nbsp;
			    		EMAIL
		    		</div>
			    	<p>{{session.email}}</p>
			    </li>

			    <li class="item">
			    	<div class="prof_title">
			    		<i class="icon ion-person-stalker"></i>&nbsp;
			    		GENDER
		    		</div>
			    	<p>{{session.gender}}</p>
			    </li>

			    <li class="item">
			    	<div class="prof_title">
			    		<i class="icon ion-calendar"></i>&nbsp;
			    		BIRTHDAY
		    		</div>
			    	<p>{{session.birthdate | date}}</p>
			    </li>
			</ul>
		</div>
    </div>

    </ion-content>
</ion-view>
