#edit_profile {
	background-color: #0d6aa3;
}

#edit_profile ion-header-bar {
	display: flex;
  	flex-direction: column;
  	justify-content: center;
	height: 60px;
	background-color: #c2c2c2;
}

#edit_profile ion-header-bar > h1.title {
	height: 100%;
	left: 0;
	display: flex;
  	flex-direction: column;
  	justify-content: center;
}

#edit_profile ion-header-bar > button {
	height: 70px;
	width: 70px;
	padding: 0;
}

#edit_profile ion-content {
	padding: 10px;
	margin-top: 30px;
}

#edit_profile #avatar {
	height: 120px;
	width: 120px;
	overflow: hidden;
}

#edit_profile ion-content div.form label.item span {
	color: white;
	font-weight: bold;
}

#edit_profile ion-content div.form label.item input {
	background-color: rgba(255, 255, 255, 0.5);
	padding: 5px;
}