#exam_option {
	background-color: #0d6aa3;
}

#exam_option ion-header-bar {
	/*display: flex;
  	flex-direction: column;
  	justify-content: center;*/
	height: 60px;
	background-color: #c2c2c2;
}

#exam_option ion-header-bar h1.title {
	left: 0;
	line-height: 60px;
}

#exam_option ion-content {
	padding: 10px;
	margin-top: 30px;
}

#exam_option #shuffle {
	background-color: white;
	margin-bottom: 10px;
	font-size: 20px;
}

#exam_option #moduleList h3 {
	margin-left: 5px;
	color: white;
}

#exam_option #moduleList li {
	background-color: white;
	font-weight: bold;
	font-size: 15px;
	margin-top: 5px;
	margin-bottom: 5px;
}

#exam_option button#save {
	width: 100%;
}