<ion-view id="examMain">
    <ion-content overflow-scroll="true" padding="true" scroll="true">
        <div class="row">
            <div class="col center">
                <h1 id="title">{{title}}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <button class="button button-full button-stable" ng-click="goStart()">
                    START
                </button>

                <button class="button button-full button-stable" ng-click="openOptions()">
                    OPTIONS
                </button>
            </div>
        </div>
    </ion-content>
</ion-view>
